
<div class="container">
  <div class="row">
    <%= link_to 'Post new message', new_topic_post_path(@topic) if current_user %>
  </div> <hr/>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-xs-3">
        <%= post.user_username %>
      </div>
      <div class="col-xs-9">
        <%= simple_format(post.content) %>
      </div>
    </div>
    <hr/>
  <% end %>
</div>